*{
  margin:0;
  padding:0;
}
html{
  font-size:16px;  
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;  
}
div.mainWrapper{
  width:95%;
  margin:auto;
  display: flex;
  /* background-color: orange; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main{
  width: 43%;
  /* background-color: rgba(0,0,255, .5); */
  padding:0.2rem 1rem;
  text-align: left;
  box-sizing: border-box;
  
}

main p{
  padding:.5rem;
  font-size: .8rem;
  color: gray;
  line-height: 1rem;
  /* text-align: justify; */
}
header h1{
  padding: 1rem;
  font-size:1.7rem;
}
header img{
  width: 30rem;
}

main iframe{
  width: 25rem;
  height: 15rem;
}
main iframe{
  box-sizing: border-box;
  border: none;
  padding:1rem;
}

body{
  border-bottom:5px solid rgba(0,0,0,.5);
  margin-bottom:.2rem;
}

.heroImg{
  background: linear-gradient(-255deg, #5d5d5d 35%, #3a3a3a 35% , #3a3a3a 58%, #111111 58%);
  color: white;
  padding: 4rem 4rem;
  font-size: 5rem;
  width: 28rem;
}

.heroImg span:nth-child(1){
  font-weight: lighter;
  right: 4rem;
}
.heroImg span:nth-child(2){
  font-weight: normal;
  right: 1rem;
}
.heroImg span:nth-child(3){
  color: #0a9db2;
  right: -1rem;
  font-weight: bold;
}

.heroImg span{
  right: 0;
  position: relative;
}